body {
    background-color: #eee;
}

.upload_img {
    display: block;
    margin: 20px auto;
    border-style: dashed;
    border-radius: 10px;
    border-color: #7c88cb;
}
.upload_img.is-on { opacity: .7; }
.hidden { display: none; }

img {
    display: block;
    margin: 20px auto;
}